<div class="container">
    <div class="row d-flex">
        <div class="col-4">
            <div class="card text-center">
                <h5 class="card-header">About Me</h5>
                <p>Hi, My name is</p>
                <h4 class="card-title">Stefaan Beernaert</h4>

            </div>
            <div class="card-body text-center row">
                <div class="col-12 my-2">
                    <a class="noUnderLine " href="https://github.com/stefaanbeernaert" target="_blank"><button type="button" class="btn btn-outline-dark btn-lg btn-block w-100">My Github Profile  <i class="bi bi-github"></i></button></a>
                </div>

            </div>
        </div>
        <div class="col-8">
            <div class="card text-center">
                <h5 class="card-header">Info</h5>
                <p class="my-5">In the right top corner u can search with symbol or company name to get stock details.</p>
            </div>
        </div>
    </div>

</div>