<div class="row">
    <div class="col-12 text-center my-2 py-2">
        <div>
           <h3> Sorry, the stock you have entered is not correct. Please try a different company symbol.</h3>
        </div>
        <img class="mt-5 img-fluid" width="600" src="/resources/images/notofund.png" alt="not found">
    </div>
</div>