<div class="container">
    <div class="row">
        <div class="col-6 text-center">
            <h4>Checking Stock details of your company is now super easy!</h4>
            <a class=" my-2 typewrite fs-4 text-decoration-none text-black" data-period="2000" data-type='[ "Just enter the exchange symbol of your favourite company in the search bar present in Menu above.", "Have fun!" ]'></a>


        </div>
        <div class="col-6">
            <img src="./resources/images/stock.jpg" alt="">
        </div>
        <br/><br/>
        <div class="error-actions">
            <!-- Button trigger modal -->
        </div>
    </div>
</div>